
    table {
        border-collapse: collapse;
        width: 70vh;
        max-width: 30vh;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    th, td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #f4f4f4;
    }
    .dry {
        background-color: #ffffff;
    }
    .isolated {
        background-color: #4dff4d;
    }
    .scattered {
        background-color: #00b31e;
        color: #fff;
    }
    .fairly-widespread {
        background-color: #66FFFF;
        color: #000;
    }
    .widespread {
        background-color: #004de6;
        color: #fff;
    }
    td, th {
        border: 1px solid #ddd;
    }
